<header class="site-action-header">
  <div class="site-action-header-left site-action-element">
    <img class="link" src="/logo.webp" id="logo">
    <p class="site-action-link">BulletSpeel</p>
    <p class="site-action-link">Cordel do Mandacaru</p>
    @if (showHiddenSystems()) {
      <p class="site-action-link">Salesforce</p>
      <p class="site-action-link">LoginMaster</p>
    }
  </div>
  <div class="site-action-header-right site-action-element">
    <p class="site-action-link">Loja</p>
    <div class="user-ball">{{ "GABRIEL ARAÚJO" | formatUser }}</div>
  </div>
</header>